body {
  background-color: #0b0b0b;
  color: #f7f6f6;
  font-family: 'Courier New', monospace;
  text-align: center;
}

.scene img {
  width: 400px;
  border: 4px solid #f8f8f8;
  margin-top: 20px;
}

.hint {
  margin-top: 30px;
  font-style: italic;
  color: #aaa;
}

.confession {
  margin-top: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #cccccc;
  font-size: 15px;
  line-height: 1.8;
  font-style: italic;
}

.confession p {
  margin-bottom: 18px;
}

.confession strong {
  color: #ff4d4d;
}
